.container img {margin:auto;}
  
  .slick-prev:before {
  color: black !important;
  background-color: #FFFFFF;
}
.slick-next:before {
  color: black !important;
  background-color: #FFFFFF;
  }

.slick-track
{
    display: flex !important;
  }

  .slick-slide
{
    height: inherit !important;
  }
